<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<div id="demo">
    <div align="middle">
        <form method="get">
            <input type="text" maxlength="100" style="width: 500px">
            <button type="submit">Search</button>
        </form>
    </div>
    <h2>About 100 results related to, Showing from 20, 10 in total</h2>

    
    
    <div class="table-responsive-vertical shadow-z-1">
        
        <table id="table" class="table table-striped table-hover table-mc-indigo">
            <tbody>
            <tr>
                <td>Name</a></td>
                <td>Gender</td>
                <td>Age</td>
                <td>Area</td>
                <td>Height</td>
                <td>Marriage</td>
                <td>Income</td>
                <td>Zodiac</td>
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            <tr>
                <td><a href="http://album.zhenai.com/u/1325499075">心给懂的人</a></td>
                
                <td>女</td>
                <td>50</td>
                <td>阿克苏阿克苏市</td>
                <td>158</td>
                <td>离异</td>
                <td>5-8千</td>
                <td>魔羯</td>
                
            </tr>
            
            </tbody>
        </table>
    </div>

</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



<script  src="js/index.js"></script>




</body>

</html>